$border-color: #f0f2f3;
$red: #ff4f49;
$gray: #7f8285;
$light-gray: #f5f5f5;
$link: #177FFD;

$type-red: #EB5757;
$type-yellow: #F2994A;
$type-green: #27AE60;


$screen-md: 768px;

@import './components/PageLayout/PageLayout.scss';